<!--Header-->
<header class="d-flex justify-content-sm-between py-3 header-desktop <%= pageClass %>">
    <a href="./"><h3 class="site-logo" >SkyHike</h3></a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="<%= aboutLinkClass %>" class="nav-link ">About</a></li>
        <li class="nav-item"><a href="<%= galleryLinkClass %>" class="nav-link ">Gallery</a></li>
        <li class="nav-item"><a href="<%= mapsLink %>" class="nav-link <%= mapsLinkClass %> ">Maps</a></li>

            <li class="nav-item"><a href="<%= addPlaceLink %>" class="nav-link <%= addPlaceLinkClass %>">Add Place</a></li>

    </ul>
    <h3 class="contact-button"><a href="contact">Contact Us</a></h3>
</header>
